# Saves
wander.saves
# Backups
autobackups
# Plotscript Exports
wander.hsi
# Images we don't want to commit
screenshot
export
wander*.png
wander*.gif
# Debug files
g_debug.txt
g_debug_archive.txt
c_debug.txt
c_debug_archive.txt
# Sound Effects
import/sfx/Foxley's Bfxr Set A/
# Bulky music files
music/convert/
# Distrib files
wandering-hamster-*.tar.gz
wandering-hamster-mac*.zip
wandering-hamster.exe
wandering-hamster.zip
wandering-hamster*.deb
wandering-hamster-web.zip
# Clutter
clutter
